    .portafolio {
    padding-top: 28px;
    &__buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        list-style: none;
    }
    &__button {
        color: #212121;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        font-family: $principal-font;
        line-height: 26px;
        letter-spacing: 0.48px;
        background: #F5F4FA;
        border-radius: 4px;
        border: none;
        width: 128px;
        height: 38px;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__botones:hover {
        border-radius: 4px;
        background: #2196F3;
        /* shadow-middle */
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
    }
}
.portafolio__button:hover,
.portafolio__button:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

 .portafolio {
     padding-top: 28px;
     &__card-images {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        justify-content: space-between;
    }
    &__card-list {
        background: #FFFFFF;
        border-radius: 0px 0px 4px 4px;
        flex-basis: calc((100% - 60px) / 3);
        padding-bottom: 35px;
        &:hover {
            border: 1px solid #EEE;
            background: #FFF;
            box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
        }
    }
    &__card-animation {
        position: relative;
        width: 367px;
        height: 290px;
        margin: 0 auto;
        overflow: hidden;
    }
    &__link-images {
        max-width: 100%;
        text-decoration: none;
    }
    &__animation {
        position: absolute;
        top: 0;
        background: rgba(33, 150, 243, 0.90);
        padding: 63px 24px;
        transform: translatey(100%);
        transition: transform 250ms ease-in-out;
        overflow: hidden;
    }
    &__text-animation {
        color: #ffffff;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: 0.54px;
    }
    &__card-portafolio {
        display: block;
        color: #212121;
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
        letter-spacing: 0.03em;
        padding: 24px;
        border: 1px solid #EEE;
        text-decoration: none;
    }
    &__portafolio-title {
        color: #212121;
        font-size: 18px;
        font-family: $principal-font;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 1.08px;
        text-decoration: none;
    }
    &__portafolio-text {
        color: #757575;
        font-size: 16px;
        font-family: $principal-font;
        line-height: 30px;
        letter-spacing: 0.48px;
        text-decoration: none;
    }
 }

 .portafolio__card-images:hover .portafolio__animation {
     transform: translateY(0%);
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }