    .portafolio {
    padding-top: 28px;
    &__buttons {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-bottom: 50px;
        flex-wrap: wrap;
        list-style: none;
    }
    &__button {
        border-radius: 4px;
        background-color: #f5f4fa;
        border-style: none;
        padding: 6px 24px;
        color: $font-color;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover {
            background-color: $principal-color;
            color: $color-white;
            cursor: pointer;
            box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.10);
        }
    }
}

 .portafolio {
     padding-top: 28px;
     &__card-images {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__card-list {
        width: 100%;
        background-color: $color-white;
        border: 1px solid #eeeeee;
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            cursor: pointer;
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            ;
    
            .cards__text-hidden {
                top: 0;
            }
        }
        @media screen and (min-width: 768px) {
            width: calc((100% - 60px) / 2);
        }

        @media screen and (min-width: 1200px) {
            width: calc((100% - 90px) / 3);
        }
    }
    &__card-animation {
        position: relative;
        overflow: hidden;
        height: fit-content
    }
    &__text-animation {
        position: absolute;
        display: grid;
        align-items: center;
        top: 100%;
        background: rgba(33, 150, 243, 0.90);
        height: 100%;
        align-content: center;
        color: $color-white;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.55;
        letter-spacing: 0.54px;
        padding: 24px;
        transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__card-portafolio {
        display: block;
        color: #212121;
        font-style: normal;
        font-size: 16px;
        line-height: 19px;
        text-align: left;
        letter-spacing: 0.03em;
        padding: 24px;
        border: 1px solid #EEE;
        text-decoration: none;
    }
    &__portafolio-title {
        color: #212121;
        font-size: 18px;
        font-family: $principal-font;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        letter-spacing: 1.08px;
        text-decoration: none;
    }
    &__portafolio-text {
        color: #757575;
        font-size: 16px;
        font-family: $principal-font;
        line-height: 30px;
        letter-spacing: 0.48px;
        text-decoration: none;
    }
 }

 .portafolio__card-images:hover .portafolio__animation {
     transform: translateY(0%);
 }

 img {
     display: block;
     max-width: 100%;
     height: auto;
 }